<a [routerLink]="['add']" class="add-inventory">
    <button mat-fab matTooltip="Add an item" color="primary">+</button>
</a>

<section class="table-inventory">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" matSortActive="lastUpdated" matSortDirection="desc" #inventoryTable>
        <ng-container matColumnDef="productName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let elem"> {{elem.productName}} </td>
        </ng-container>
        <ng-container matColumnDef="units">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Units </th>
            <td mat-cell *matCellDef="let elem"> {{elem.units}} </td>
        </ng-container>
        <ng-container matColumnDef="lastUpdated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated </th>
            <td mat-cell *matCellDef="let elem"> {{elem.lastUpdated | date}} </td>
        </ng-container>
        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
            <td mat-cell *matCellDef="let elem"> {{elem.category}} </td>
        </ng-container>
        <ng-container matColumnDef="unitPrice">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let elem"> {{elem.unitPrice * ((currencies)?currencies.rates[selectedCurrency]: 1.0) | currency: selectedCurrency }} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay" (click)="rowClicked(row)"></tr>
    </table>
</section>