a.add-inventory {
    position: fixed;
    bottom: 2em;
    right: 2em;
}

button[mat-fab] {
    font-size: 1.5em;
}

td.mat-cell{
    padding: 0 1em;
}

th.mat-header-cell{
    padding: 0 1em;
}

tr.mat-row {
    cursor: pointer;
}
/* 
mat-header-row {
    justify-content: space-between;
}

mat-row {
    justify-content: space-between;
    cursor: pointer;
} */